<div class=" m-1">
    <div class="">
        <h5 class="font-weight-bolder text-center text-secondary text-gradient">
            Pridat zakaznika</h5>
    </div>
    <form role="form" method="POST"
          hx-post="{% url 'customer_add' %}"
          hx-swap="beforeend"
          hx-target="#customer-list"
          hx-on="htmx:afterRequest: location.reload()">

        <div class="my-2">
            <label>Meno</label>
            {{ form.name }}
        </div>
        <div class="my-2">
            <label>Boost ID</label>
            {{ form.boost_id }}
        </div>
        <div class="my-4 text-center">
            <button class="btn btn-sm btn-outline-info" type="submit">Ulozit</button>
            <button class="btn btn-sm btn-outline-secondary" hx-on="click: location.reload()" type="button">Zrusit
            </button>
        </div>

    </form>
</div>