<div class=" m-1">
    <div class="">
        <h5 class="font-weight-bolder text-center text-secondary text-gradient">
            Pridat zakazku</h5>
    </div>
    <form role="form" method="POST"
          hx-post="{% url 'order_add' %}"
          hx-swap="beforeend"
          hx-target="#order-list"
          hx-on="htmx:afterRequest: location.reload()">

        <div class="my-4">
            <label for="">Zakaznik</label>
            {{ form.customer }}
        </div>
        <div class="my-4">
            <label for="">Diel</label>
            {{ form.part }}
        </div>
        <div class="my-4">
            <label for="">Pocet</label>
            {{ form.pcs }}
        </div>

        <div class="my-4 text-center">
            <button class="btn btn-sm btn-outline-info" type="submit">Ulozit</button>
            <button class="btn btn-sm btn-outline-secondary" hx-on="click: location.reload()" type="button">Zrusit
            </button>
        </div>
    </form>
</div>