{% extends 'core/base.html' %}
{% block title %}Zakazky{% endblock %}
{% block content %}
    <div class="">
        {% include 'components/navbar_function_orders.html' %}
        <div class="m-3">
            <div class="container-fluid row">
                <div class="col-3">
                    <div class="p-3 card rounded-0 full-screen-card card-scroll">
                        <div id="order-form"></div>
                        <div id="order-delete" class="d-none"></div>
                        <div id="order-edit" class="d-none"></div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card rounded-0 full-screen-card card-scroll">
                        <table class="table table-sm table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary">Cislo zakazky</th>
                                <th class="text-uppercase text-secondary">Diel</th>
                                <th class="text-uppercase text-secondary">Pocet</th>
                                <th class="text-uppercase text-secondary">Zakaznik</th>
                                <th class="text-uppercase text-secondary"></th>
                            </tr>
                            </thead>
                            <tbody id="order-list">
                            {% for o in orders %}
                                {% include 'core/order_detail.html' %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}