.full-screen-card {
    height: 85vh;
}

.card-scroll {
    overflow-y: auto;
}
label {
    color: gray;
}
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.btn {
    border-radius: 0;
}
