<nav class="p-0 navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="d-flex">
                        <button class="nav-link btn btn-outline-secondary" type="button"
                                hx-get="{% url 'order_add' %}"
                                hx-target="#order-form"
                                hx-swap="this">Nova zakazka
                        </button>
                        <button class="nav-link btn btn-outline-secondary" type="button"
                                hx-get="{% url 'order_add' %}"
                                hx-target="#order-form"
                                hx-swap="this">PPS Import
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
