<nav class="p-0 navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="d-flex">
                        <button class="nav-link" type="button"
                                hx-get="{% url 'customer_add' %}"
                                hx-target="#customer-form"
                                hx-swap="beforeend">Novy zakaznik
                        </button>
{#                        <button class="nav-link" type="button"#}
{#                                hx-get="{% url 'customer_add' %}"#}
{#                                hx-target="#customer-form"#}
{#                                hx-swap="beforeend">Import zakaznikov#}
{#                        </button>#}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
